/example-project
.history/
node_modules
dist/
.DS_Store
.env
!.env.example
.terraform
.terraform.tfstate
.terraform.lock.hcl
*.tfplan

# Frontend
src/frontend/dist/
src/frontend/node_modules/
*.tsbuildinfo